html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Roboto Slab', serif;
    color: black;
}
.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/*spacing*/
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
